<%= form_for resource.route_for(current_record), :html => {:method => :delete} do |f| %>
  <p>Are you sure you want to delete this record? This cannot be undone.</p>

  <%= f.submit 'Confirm' %>
<% end %>