<header class="h2">
  <h2><%= current_record.identifier %></h2>

  <nav>
    <ul>
      <li>
        <%= link_to 'Edit', [:edit, current_record], :class => 'edit' %>
      </li>
      <li>
        <%= link_to 'Delete', [:delete, current_record], :class => 'cancel' %>
      </li>
    </ul>
  </nav>
</header>

<h3>Widget Name: <%= current_record.name %></h3>
